body {
	background: black;
}
* {
	font-family: cursive;
	font-size: 15px;
}

.postcard {
	background: white;
	width: 400px;
	height: 330px;
	margin: auto;
}
.postcard-header {
	display: flex;
	background: rgb(129, 63, 251);
	background: radial-gradient(circle, rgba(129, 63, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

.postcard-header img {
	width: 70px;
	height: 80px;
	margin-right: 10px;
	margin-top: 10px;
}

.postcard-header h1 {
	margin: 10px;
	width: 350px;
	margin-top: 20px;
	font-size: 35px;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
	margin-left: 10px;
}
.body-left,
.body-right {
	width: 200px;
	margin-top: 10px;
}

.body-left {
	margin-right: 10px;
}

input {
	width: 90%;
	padding: 2px 2px;
	margin: 2px 0px;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid gray;
	font-size: 15px;
	color: #db366e;
	font-weight: bold;
}
.postcard-footer button {
	text-align: center;
	background: rgb(11, 167, 176);
	background: radial-gradient(circle, rgba(11, 167, 176, 1) 0%, rgba(237, 182, 199, 1) 79%);
	border: none;
	padding: 8px;
}
.postcard-footer {
	text-align: center;
}
button:hover {
	font-style: italic;
	font-size: 16px;
	border-radius: 5px;
}
